html,
body {
  margin: 0;
  padding: 0;
}

.title {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 40px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 0px 20px 0px;
}

.menu {
  width: 100%;
  background-color: black;
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

#nav li {
  display: inline-block;
  text-align: center;
  font-size: 22px;
}

#nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: black;
}

#nav a:hover {
  color: white;
  background-color: grey;
}

#nav li.current a {
  color: black;
  background-color: white;
}

.body {
  text-align: center;
}

.text {
  display: inline-block;
  text-align: left;
  padding: 15px;
  width: 35%;
}

h {
  font-size: 20px;
}

#content {
  list-style-type: none;
}

#content li {
  margin: 5px 0;
}

#content a {
  text-decoration: none;
  color: dark gray;
}

p {
  margin-top: 10px;
}
